<div *ngIf="!isCreatingUser">
    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
      <h2>User List</h2>
      <!-- Add New User Link -->
      <a (click)="isCreatingUser = true" style="text-decoration: none; color: blue; font-size: 16px; cursor: pointer;">
        <i style="margin-right: 5px;">➕</i> Add New
      </a>
    </div>

    <!-- Filter by Role Dropdown -->
    <label for="roleFilter">Filter by Role:</label>
    <select id="roleFilter" [(ngModel)]="selectedrole" (change)="loadUsersByRole()">
      <option value="">All</option>
      <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
    </select><br><br>
  
    <table>
      <thead>
        <tr>
          <th>UserId</th>
          <th>Name</th>
          <th>Username</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.userId }}</td>
          <td>{{ user.fullName }}</td>
          <td>{{ user.username }}</td>
          <td>
            <button (click)="onDeleteUser(user.userId)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <!-- Create User Form -->
  <div *ngIf="isCreatingUser">
    <h2>Create New User</h2>
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
      <div>
        <label>Full Name</label>
        <input type="text" name="fullName" [(ngModel)]="user.fullName" required />
      </div>
      <div>
        <label>Username</label>
        <input type="text" name="username" [(ngModel)]="user.username" required />
      </div>
      <div>
        <label>Password</label>
        <input type="password" name="password" [(ngModel)]="user.password" required />
      </div>
      <div>
        <label>Role</label>
        <select name="role" [(ngModel)]="user.role" required>
          <option value="Admin">Admin</option>
          <option value="Student">Student</option>
          <option value="Teacher">Teacher</option>
          <option value="Finance">Finance</option>
        </select>
      </div>
      <button type="submit">Create User</button>
      <button type="button" (click)="isCreatingUser = false">Cancel</button>
    </form>
  </div>
  