<c-navbar colorScheme="dark" class="custom-navbar" >
  <div class="d-flex align-items-center w-100 px-4">

    <!-- Left: Brand -->
    <div class="flex-shrink-0">
      <c-navbar-brand href="#">LMS</c-navbar-brand>
    </div>

    <!-- Right: Navigation -->
    <div class="flex-grow-1 d-flex justify-content-end ">
      <ul class="navbar-nav d-flex flex-row align-items-center text-white">
        <!-- Student Navbar Items -->
        <ng-container *ngIf="userRole === 'Student'">
          <li class="nav-item me-3"><a cNavLink routerLink="/student-dashboard">Home</a></li>
          <li class="nav-item me-3"><a cNavLink routerLink="/fees">Fees</a></li>
          <li class="nav-item me-3"><a cNavLink routerLink="/course-registration">Course Registration</a></li>
          <li class="nav-item me-3"><a cNavLink routerLink="/student-Assignments">Assignments</a></li>
          <li class="nav-item me-3"><a cNavLink routerLink="/grades">Grades</a></li>
          <li class="nav-item me-3"><a cNavLink routerLink="/profile">Profile</a></li>
        </ng-container>

        <!-- Teacher Navbar Items -->
        <ng-container *ngIf="userRole === 'Teacher'">
          <li class="nav-item me-3"><a cNavLink routerLink="/teacher-dashboard">Home</a></li>
          <li class="nav-item me-3"><a cNavLink routerLink="/my-courses">My Courses</a></li>
          <li class="nav-item me-3"><a cNavLink routerLink="/assignments">Assignments</a></li>
          <li class="nav-item me-3"><a cNavLink routerLink="/profile">Profile</a></li>
        </ng-container>

        <!-- Admin Navbar Items -->
        <ng-container *ngIf="userRole === 'Admin'">
          <li class="nav-item me-3"><a cNavLink routerLink="/admin-dashboard">Dashboard</a></li>
          <li class="nav-item me-3"><a cNavLink routerLink="/manage-users">Manage Users</a></li>
          <li class="nav-item me-3"><a cNavLink routerLink="/manage-courses">Manage Courses</a></li>
          <li class="nav-item me-3"><a cNavLink routerLink="/reports">Reports</a></li>
        </ng-container>

        <!-- Finance Navbar Items -->
        <ng-container *ngIf="userRole === 'Finance'">
          <li class="nav-item me-3"><a cNavLink routerLink="/finance-dashboard">Home</a></li>
          <li class="nav-item me-3"><a cNavLink routerLink="/profile">Profile</a></li>
        </ng-container>

        <!-- Logout -->
        <li class="nav-item me-3">
          <a cNavLink (click)="logout()" style="cursor: pointer;">Logout</a>
        </li>
      </ul>
    </div>

  </div>
</c-navbar>
